<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p id="Parrafo">Hola Diegito</p>
  <p class="texto"> Culion</p>
  <h1 id="huevo">Mama Huevo....</h1>

  <script src="../Js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#Parrafo,.texto").css('color','blue');
      $("#huevo").css('color','red');
    });
  </script>
</body>
</html>
